/* --------------------COLUMNA IZQUIERDA--------------------- */

.foto{
    border-radius: 200px;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 20px;
    
    
}
.caja1{
    
    width: fit-content;
    margin-bottom: 75px;
}
.caja2{
    
    width: fit-content;
    margin-bottom: 75px;
}

.caja3{
    
    width: fit-content;
    
}

.parrafoizda{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.tituloizda{
    color: rgb(230, 178, 120);
}

.columnaizda2{
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.columnaizda {
    
    width: 400px;
    background-color: rgb(155, 146, 146);
}

/* ------------------COLUMNA DERECHA----------------------- */

.nombre{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 80px;
    margin-top: 100px;
    color: rgb(230, 178, 120);
}

.puesto{
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: rgb(155, 146, 146);
    color: white;
    font-size: 22px;
}
.caja4{
    padding-right: 25px;
    width: fit-content;
}

.caja5{
    
    width: fit-content;
}

.caja6{
    
    width: fit-content;
}

.tituloderecha{
    font-weight: bold;
    color: rgb(230, 178, 120);
    
    
}

.subtituloderecha{
    color: grey;
    font-size: 20px;

}

.subsubtituloderecha{
    font-size: 20px;


}

.listaderecha{
    list-style: square;
    padding-left: 25px;
    font-size: 18px;
}

.columnadere2{
    
    color: rgb(155, 146,146);
    text-align: left;
    width:auto;    
    margin-left: 50px;
    
}

.columnadere{
    background-color: rgb(243, 237, 237);
    
    
}

/* ---------------------BODY------------------------ */

.cuerpo{
    display: flex;
    flex-direction: row;
}