/* --------------------COLUMNA IZQUIERDA--------------------- */

.foto{
    border-radius: 200px;
    width: 250px;
    height: 250px;
    margin: auto;
    align-content: center;
    display: flex;
    
    
}
.piedefoto{
    display: none;
    
}
.piedefoto2{
    display: none;
}
.caja1{
    margin-top: 30px;
    width: fit-content;
    margin-bottom: 75px;
}
.caja2{
    
    width: fit-content;
    margin-bottom: 75px;
}

.caja3{
    
    width: fit-content;
    
}

.parrafoizda{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

.tituloizda{
    color: rgb(230, 178, 120);
    
}

.columnaizda2{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.columnaizda {
    
    width: 30%;
    background-color: rgb(155, 146, 146);
    padding-top: 25px;
}

/* ------------------COLUMNA DERECHA----------------------- */

.nombre{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 80px;
    margin-top: 100px;
    color: rgb(230, 178, 120);
}

.puesto{
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: rgb(155, 146, 146);
    color: white;
    font-size: 22px;
}
.caja4{
    padding-right: 25px;
    width: fit-content;
}

.caja5{
    
    width: fit-content;
}

.caja6{
    
    width: fit-content;
}

.tituloderecha{
    font-weight: bold;
    color: rgb(230, 178, 120);
    
    
}

.subtituloderecha{
    color: grey;
    font-size: 20px;

}

.subsubtituloderecha{
    font-size: 18px;


}

.listaderecha{
    list-style: square;
    padding-left: 25px;
    font-size: 19px;
}

.columnadere2{
    
    color: rgb(155, 146,146);
    text-align: left;
    width:auto;    
    margin-left: 50px;
    
}

.columnadere{
    background-color: rgb(243, 237, 237);
    width: 70%;
    
    
}

/* ---------------------BODY------------------------ */

.cuerpo{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 50px auto;
    
}

/*-------------------------------------------------------------*/
/*-------------------------MEDIAQUERIS-------------------------*/
/*-------------------------------------------------------------*/

/*--------------------------------------------------------------*/
/*--------------------------MOVIL-------------------------------*/
/*--------------------------------------------------------------*/


@media all and (max-width: 768px){

    /*-----------Cuerpo-------------------*/
    .cuerpo{
        display: flex;
        flex-direction: column;
        height: auto;
        
        
    }
    /*------------Columna de la izquierda-------------*/
    .columnaizda{
        width: auto;
    }
    .parrafoizda{
        display: none;

    }
    .foto{
        border-radius: 100px;
        width: 150px;
        height: 150px;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 20px;
        
        
    }
    .piedefoto{
        display: block;
        text-align: center;
        color: rgb(230, 178, 120);
        font-size: 30px;
        font-weight: bold;
    }
    .caja1{
        margin-bottom: auto;
        border-style: outset;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        
    }
    .caja2{
        margin-bottom: auto;
        border-style: outset;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }
    .caja3{
        margin-bottom: auto;
        border-style: outset;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        
    }
        
    .caja1:hover > .parrafoizda{
        display: block;
        
    }
    .caja2:hover > .parrafoizda{
        display: block;
        
    }
    .caja3:hover > .parrafoizda{
        display: block;
        
        
    }

    /*------------------Columa de la derecha---------------*/

    .nombre{
        padding-top: 35px;
        padding-bottom: 35px;
        margin-top: 0px;
        margin-bottom: 0px;
        display: none;
    }
    .puesto{
        display: none;
    }
    #tituloderechaid{
        margin-bottom: 19.92px;
        margin-top: 19.92px;
    }
    #tituloderechaid2{
        margin-top: 19.92px;
        margin-bottom: 19.92px;
    }
    .subtituloderecha{
        display: none;
    }
    .subsubtituloderecha{
        display: none;
        margin-top: 0px;
    }
    .listaderecha{
        display: none;
    }
    .tituloderecha{
        text-align: center;
    }
    .columnadere2{
        margin-left: 0px;
        
    }
    .columnadere{
        width: auto;
    }
    
    /*---------------------CAJA 4 --------------------------*/
    .caja4{
        padding-right: 0px;
        border-style: outset;  
        text-align: center;
        cursor: pointer;
    
    }
    .caja4:hover > .subtituloderecha{
        display: block;
    }
    .caja4:hover > .subsubtituloderecha{
        display: block;
    }
    .caja4:hover > .listaderecha{
        display: block;
    }

    /*---------------------ESPACIO----------------------*/
    .espacio{
        display: none;
    }
    /*----------------------CAJA  5-----------------------------*/

    .caja5{
        border-style: outset;
        margin-top: 5px;
        text-align: center;
        cursor: pointer;
        
    }
    .caja5:hover > .subsubtituloderecha{
        display: block;
    }
    .caja5:hover > .subtituloderecha{
        display: block;
    }
    
    .caja5:hover > .listaderecha{
        display: block;
    }
    /*--------------------------CAJA 6--------------------------*/
    .caja6{
        margin-top: 5px;
        border-style: outset;
        text-align: center;
        cursor: pointer;
    }
    .caja6:hover > .listaderecha {
        display: block;
    }

    
} 

/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
/*---------------------------TABLET-----------------------------*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/

@media all and (min-width:769px) and (max-width: 1280px){

    /*-----------Cuerpo-------------------*/
    .cuerpo{
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        
        
    }
    /*------------Columna de la izquierda-------------*/

    .columnaizda{
        width: 50%;
        height: 100%;
    }
    .parrafoizda{
        display: flex;

    }
    .foto{
        border-radius: 150px;
        width: 175px;
        height: 175px;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 20px;
               
    }
    .piedefoto{
        display: none;
        
    }

    .piedefoto2{
        
        text-align: center;
        color: rgb(230, 178, 120);
        font-size: 30px;
        font-weight: bold;
        display: block;
        
    }
    .caja1{
        margin-bottom: auto;
        border-style: outset;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        
    }
    .caja2{
        margin-bottom: auto;
        border-style: outset;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }
    .caja3{
        margin-bottom: auto;
        border-style: outset;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        
    }
        
    .caja1:hover > .parrafoizda{
        display: block;
        
    }
    .caja2:hover > .parrafoizda{
        display: block;
        
    }
    .caja3:hover > .parrafoizda{
        display: block;
        
        
    }

    /*------------------Columa de la derecha---------------*/

    .nombre{
        padding-top: 35px;
        padding-bottom: 35px;
        margin-top: 0px;
        margin-bottom: 0px;
        display: none;
    }
    .puesto{
        align-content: center;
        margin-top: 20px;
        margin-right: 15px;
        margin-left: 15px;
        border-style: outset;
    }
    .columnadere{
        width: 50%;
    }
    #tituloderechaid{
        margin-bottom: 19.92px;
        margin-top: 19.92px;
    }
    #tituloderechaid2{
        margin-top: 19.92px;
        margin-bottom: 19.92px;
    }

    .subtituloderecha{
        display: none;
    }
    .subsubtituloderecha{
        display: none;
        margin-top: 0px;
    }
    .listaderecha{
        display: none;
    }
    .tituloderecha{
        text-align: center;
    }
    .columnadere2{
        margin-left: 15px;
        margin-right: 15px;
        
        
    }
    
    
    /*---------------------CAJA 4 --------------------------*/
    .caja4{
        padding-right: 0px;
        border-style: outset;  
        text-align: center;
        cursor: pointer;
    
    }
    .caja4:hover > .subtituloderecha{
        display: block;
    }
    .caja4:hover > .subsubtituloderecha{
        display: block;
    }
    .caja4:hover > .listaderecha{
        display: block;
    }

    /*---------------------ESPACIO----------------------*/
    .espacio{
        display: none;
    }
    /*----------------------CAJA  5-----------------------------*/

    .caja5{
        border-style: outset;
        margin-top: 5px;
        text-align: center;
        cursor: pointer;
        
    }
    .caja5:hover > .subsubtituloderecha{
        display: block;
    }
    .caja5:hover > .subtituloderecha{
        display: block;
    }
    
    .caja5:hover > .listaderecha{
        display: block;
    }
    /*--------------------------CAJA 6--------------------------*/
    .caja6{
        margin-top: 5px;
        border-style: outset;
        text-align: center;
        cursor: pointer;
    }
    .caja6:hover > .listaderecha {
        display: block;
    }

    
} 